.detailcontent {

  min-height: calc(100% - 120px);
  margin-top: 120px;

  .blogDetail {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
    color: #FFF;
    // background-color: #16202f;

    .title {
      color: rgb(255, 204, 102);
      font-size: 32px;
      margin-bottom: 30px;
      text-align: center;
    }

    .detail {
      height: 100%;
      color: rgb(162, 170, 188);

      img {
        width: 100%;
      }
    }
  }
}