.detailcontent {
  background-color: #16202f;
  min-height: calc(100% - 120px);
  margin-top: 120px;

  .blogDetail {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;

    .detail {
      height: 100%;

      img {
        width: 100%;
      }
    }
  }
}