.b_html {
  width: 100%;
  margin-top: 120px;
  min-height: calc(100% - 120px);
  position: relative;
  background: #16202f;

  .b_body {
    position: relative;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0px auto;
    height: 100%;
    overflow: hidden;

    @media print,
    screen and (max-width: 48em) {
      width: 100%;
    }

    .b_content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      position: relative;
      gap: 15px;
      margin-top: 20px;

      @media print,
      screen and (max-width: 48em) {
        width: 100%;
        border-right: 0;
      }
    }

    .b_more {
      color: rgb(100, 255, 218);
      background-color: transparent;
      font-size: 14px;
      line-height: 1;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(100, 255, 218);
      border-image: initial;
      border-radius: 3px;
      text-decoration: none;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      padding: 1.25rem 1.75rem;
      margin: 40px auto 0px;
    }

  }

  .iconshuxie {
    width: 66px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    font-size: 30px;
    color: rgb(100, 255, 218);
    position: absolute;
    right: 200px;
    top: 200px;
    border: solid 1px rgb(100, 255, 218);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    background: #282f26;
  }

  .iconshuxie:hover {
    color: #c0e8ece3;
    border: solid 1px #c0e8ece3;
  }
}